body {
  /* margin-bottom: 100px; */
  margin-top: 50px;
}
.navbar {
  height: 90px;
}
.jumbotron {
  background-attachment: fixed;
  margin-top: 57px;
  height: 600px;
  background-color: rgb(63, 182, 23);
  background-size: cover;
  background-position: 0 -25px;
  color: #eaeaea;
  overflow: hidden;
}
.jumbotron img {
  width: auto;
  height: 800px;
  position: relative;
  bottom: 200px;
}
.awal {
  padding-top: 150px;
}

.awal h1 p {
  text-align: right;
  color: rgb(252, 250, 250);
}
section .info {
  /* position: relative; */
  min-height: 250px;
}
.tahukah {
  left: 100px;
  top: 50px;
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #01a69f;
}
.tahukah p {
  color: white;
  /* font-size: large; */
  /* padding-left: 10px; */
}
.tahukah img {
  position: relative;
  top: 2px;
  width: 230px;
  height: 210px;
  max-width: 230px;
}
.resiko {
  position: static;
  margin-top: 100px;
  height: 380px;
  /* background-color: rgb(24, 20, 20); */
}

.resiko img {
  position: inherit;
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border-end-end-radius: 100px; */
}

.solusi {
  margin-top: 100px;
  max-height: 200px;
  background-color: #2cb474;
  color: white;
}

.pemeriksaan {
  background-color: #404040;
  color: white;
  height: 350px;
}
.harga {
  height: 330px;
}

.harga .card {
  height: 130%;
  width: 190%;
  top: -70px;
  border-radius: 10px;
  font-size: 1.35rem;
  text-align: center;
}
.harga .card .body1 {
  background-color: #f38222;
  border-radius: 10px;
}
.harga .card .body2 {
  border-radius: 10px;
  background-color: #01a69f;
}
.harga .card .body3 {
  border-radius: 10px;
  background-color: #2cb474;
}
.chat {
  height: 330px;
  background-color: #01a69f;
  color: white;
}

.chat .btn-light {
  color: #f38222;
  width: 60%;
  height: 4rem;
  font-stretch: expanded;
}
.pesan {
  height: 580px;
}
.pesan img {
  width: auto;
  height: 700px;
  position: relative;
  bottom: 80px;
  left: -50px;
}

.pesan h1 {
  font-size: 3.7rem;
}

.footer {
  background-color: #212529;
  height: 290px;
  position: relative;
}
.footer .btn {
  position: relative;
  top: -40px;
  left: 230px;
  color: white;
  width: 60%;
  height: 5rem;
  font-stretch: expanded;
  background-color: #f38222;
}

.footer img {
  width: 450px;
  height: 220px;
  position: relative;
  /* padding-top: 5px; */
  bottom: 50px;
}
